[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1
[submodule "lib/gradual-dutch-auction"]
	path = lib/gradual-dutch-auction
	url = https://github.com/FrankieIsLost/gradual-dutch-auction
[submodule "lib/prb-math"]
	branch = v3
	path = lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "lib/ring-buffer-lib"]
	path = lib/ring-buffer-lib
	url = https://github.com/pooltogether/ring-buffer-lib
